@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url("./sf-pro-display/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url("./sf-pro-display/SF-Pro-Display-Regular.otf");
}
