
.sidebarTab {
    height: 56px;
    padding: 0px 0px 0px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
      
}


.sidebarTab:active{
    background: linear-gradient(90deg, rgba(186, 37, 37, 0) 0%, rgba(210, 77, 77, 0.1) 100%);
    border-right: #DA584B 4px solid;


}

.sidebarTab:hover>.icon, .sidebarTab:hover>p{
    
        filter: invert(42%) sepia(26%) saturate(3129%) hue-rotate(332deg) brightness(95%) contrast(79%);;

}

.text{
    display: flex;
    color: var(--Neutral-2);
    font-family:  SF-Pro-Display-Bold;
    width: 100%;
    
}
.icon {
    height: 18px;
    width: 18px;
    margin-left: 0;
    margin-right: 19px;
}


