.card {
  width: 348px;
  height: 208px;
  background: var(--Neutral-4);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  margin-top: 16px;
}

.card__project-info {
  width: 316px;
  display: flex;
  justify-content: space-between;
}
.timer {
  width: 316px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}

.card__text {
  font-family: SF-Pro-Display-Bold;
  color: var(--Neutral-1);
}
.tags {
  display: flex;
  margin-top: 16px;
  width: 203px;
  justify-content: space-between;
}
