:root {
  --Neutral-1: #ffffff;
  --Neutral-2: #94979a;
  --Neutral-3: #393d41;
  --Neutral-4: #2c2f33;
  --Neutral-5: #222528;
  --Primary-1: #f4ccc8;
  --Primary-2: #eba59e;
  --Primary-3: #e27d73;
  --Primary-4: #da584b;
  --Secondary-1: #c8e1bc;
  --Secondary-2: #aad199;
  --Secondary-3: #8dc275;
  --Secondary-4: #70b252;
  --Tertiary-1: #f9eed7;
  --Tertiary-2: #f2daab;
  --Tertiary-3: #ebc77f;
  --Tertiary-4: #e5b454;
  --Blue: #2f61bf;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Neutral-5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display--xl {
  font-size: 64px;
  line-height: 88px;
  letter-spacing: 1px;
}

.display--l {
  font-size: 56px;
  line-height: 72px;
  letter-spacing: 1px;
}
.display--m {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
}
.display--s {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1px;
}
.display--xs {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
}
.body--xl {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.75px;
}
.body--l {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.75px;
}
.body--m {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.75px;
}
.body--s {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.bold {
  font-weight: bold;
}
